<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ansible_hostname}} </title>

    </head>
    <body>
        <h1> This is server: {{ansible_hostname}}</h1>
    </body>
    </html>
